@media(max-width: 701px) {

 .col {
   margin: 60px;
   .container {
     .side-img {
       width: 100%;
       border-radius: 10px 10px 0px 0px;
     }
     flex-direction: column;
     .text-container {
       padding: 1.5rem;
     }
     .row {
       .avatar {

       }
       .icon {
         img {
           z-index: 2;
         }

         .icons {
           align-items: center;
           padding: 2rem 5rem 4rem 1.4rem;
           top: 100%;
           transform: translate(16%, -15%);
           border-radius: 0px 0px 10px 10px;
           img {
             width: 3rem;
           }
           hr {
             display: none;
           }
         }
       }
     }
   }
 }
}

@media (max-width: 376px) {
  .col {
    .container {
      .row {
        .icon {
          .icons {
            transform: translate(20%, -15%);
            padding: 2rem 1.5rem 4rem 1.5rem;
          }
        }
      }
    }

  }

}
